<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.autonomyway">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.autonomyway.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.autonomyway"
                    android:scheme="file"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".component.income.IncomeListActivity"
            android:label="@string/title_activity_income_list"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autonomyway.DashboardActivity"/>
        </activity>
        <activity
            android:name=".component.income.NewIncomeActivity"
            android:label="@string/title_new_income_activity"
            android:parentActivityName=".component.income.IncomeListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autonomyway.component.income.IncomeListActivity"/>
        </activity>
        <activity
            android:name=".component.income.EditIncomeActivity"
            android:label="@string/title_edit_income_activity"
            android:parentActivityName=".component.income.IncomeListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autonomyway.component.income.IncomeListActivity"/>
        </activity>
        <activity
            android:name=".component.wealth.WealthListActivity"
            android:label="@string/title_activity_wealth_list"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autonomyway.DashboardActivity"/>
        </activity>
        <activity
            android:name=".component.wealth.NewWealthActivity"
            android:label="@string/title_new_wealth_activity"
            android:parentActivityName=".component.wealth.WealthListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autonomyway.component.wealth.WealthListActivity"/>
        </activity>
        <activity
            android:name=".component.wealth.EditWealthActivity"
            android:label="@string/title_edit_wealth_activity"
            android:parentActivityName=".component.wealth.WealthListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autonomyway.component.wealth.WealthListActivity"/>
        </activity>
        <activity
            android:name=".component.expense.ExpenseListActivity"
            android:label="@string/title_activity_expense_list"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autonomyway.DashboardActivity"/>
        </activity>
        <activity
            android:name=".component.expense.NewExpenseActivity"
            android:label="@string/title_new_expense_activity"
            android:parentActivityName=".component.expense.ExpenseListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autonomyway.component.expense.ExpenseListActivity"/>
        </activity>
        <activity
            android:name=".component.expense.EditExpenseActivity"
            android:label="@string/title_edit_expense_activity"
            android:parentActivityName=".component.expense.ExpenseListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autonomyway.component.expense.ExpenseListActivity"/>
        </activity>
        <activity
            android:name=".component.transfer.NewTransferActivity"
            android:label="@string/title_new_transfer_activity"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autonomyway.DashboardActivity"/>
        </activity>
        <activity
            android:name=".component.transfer.TransferListActivity"
            android:label="@string/title_activity_transfer_list"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autonomyway.DashboardActivity"/>
        </activity>

        <activity
            android:name=".component.transfer.EditTransferActivity"
            android:label="@string/title_edit_transfer_activity"
            android:parentActivityName=".component.transfer.TransferListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.autonomyway.component.transfer.TransferListActivity"/>
        </activity>

    </application>

</manifest>